.segmentSheetWrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.regular {
    inset-inline-start: 30px;
}

.streetViewButtonContainer {
    display: flex;
    justify-content: space-around;
}

.streetViewContainer {
    position: fixed;
    left: 0;
    right: 0;
}

.xomContainer {
    display: flex;
    justify-content: space-around;

    padding: 0 20px;
}

.KOM,
.QOM {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.KOM svg,
.QOM svg {
    fill: #ffe045;
    height: 20px;
    width: 20px;
}

.yourPR {
    display: flex;
    gap: 10px;

    padding: 0 20px;
    margin: 15px 0;
}

.yourPR a {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2997ff;
}

.closeButton {
    position: absolute;
    top: -15px;
    right: 10px;

    height: 24px;
    width: 24px;

    fill: rgb(0, 0, 0);
    opacity: 0.25;
}

@media (prefers-color-scheme: dark) {
    .closeButton {
        fill: rgb(255, 255, 255);
    }
}
