.sheet {
    position: fixed;
    height: calc(100vh + 100px);

    box-shadow: 0 -2px 9px 0 rgba(0, 0, 0, 0.11);
    border-radius: 15px 15px 0 0;

    background-color: rgba(233, 233, 233, 1);
    touch-action: none;
}

@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
    .sheet {
        backdrop-filter: saturate(280%) blur(40px);
        -webkit-backdrop-filter: saturate(280%) blur(40px);
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@media (prefers-color-scheme: dark) {
    .sheet {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.compactSizeClass {
    left: 0;
    right: 0;
}

.regularSizeClass {
    width: 375px;
    left: 30px;
}

.handleWrapper {
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.metadataContainer {
    display: flex;
    justify-content: space-between;

    padding: 10px 20px;
}
