.mapContainer {
    height: 100%;
    height: calc(100vh - env(safe-area-inset-bottom));

    width: 100%;

    position: relative;
}

.controls {
    position: absolute;

    top: 10px;
    left: 10px;
}
