.streetViewButton {
    position: relative;

    height: 100px;
    width: 160px;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    border: none;
}

@media (prefers-color-scheme: dark) {
    .streetViewButton {
        background: rgba(0, 0, 0, 0.45);
    }
}

.streetViewButton span {
    position: absolute;

    bottom: 6px;
    right: 10px;
}

.streetViewButton svg {
    position: absolute;

    top: 6px;
    left: 6px;

    height: 36px;
    width: 36px;
}

.startSVG {
    fill: #03a10e;
}
.stopSVG {
    fill: #af1e2d;
}
