.segmentedControl {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 3px;
    background-color: #eee;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.label {
    padding-block-start: 2px;
    padding-block-end: 2px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;

    z-index: 2;
}

.background {
    position: absolute;
    z-index: 1;

    top: 2px;
    bottom: 2px;
    left: 0px;

    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    border-radius: 4px;

    transition: left 1s ease-out;
}

.items-2::before {
    width: 50%;
}
.items-3::before {
    width: 33%;
}
.items-4::before {
    width: 25%;
}
.items-5::before {
    width: 20%;
}
.items-6::before {
    width: 17%;
}
