.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    width: 100%;

    margin: 0;
    padding: 0 20px;

    overflow-wrap: break-word;
}

.link {
    margin: 0 20px;
}
