.riderResults {
    position: relative;
}

.titleLockup {
    position: relative;

    padding-block-end: 20px;
}

.loggedInUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.titleLockup a {
    position: absolute;
    inset-block-end: 10px;
    inset-inline-end: 15px;
}

.titleLockup h2 {
    margin-block-start: 0;
    margin-block-end: 5px;
}
.titleLockup p {
    margin-block: 0;
}

.rank {
    position: absolute;
    inset-inline-end: 20px;
}

.overallTime {
    padding: 15px;
}
