.oauthContainer {
    height: 100vh;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    .oauthContainer {
        background: rgba(0, 0, 0, 1);
    }
}

.oauthContainer,
.compact,
.regular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.compact {
    width: 100%;
}

.regular {
    width: 375px;
}

.oauthTitle {
    text-align: center;
    margin: 20px 30px;
}

.oauthDescription {
    text-align: center;
    padding: 30px;
}
