.resultsView {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;

    height: 100vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, 1);
}

.titleLockup {
    position: relative;
}

.titleLockup a,
.titleLockup h1 {
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.titleLockup h1 {
    margin: 0;

    padding-inline: 25px;
    padding-block-start: 40px;
    padding-block-end: 60px;
}

.routeLink {
    position: absolute;
    bottom: 10px;
    left: 25px;
}

.clubLink {
    position: absolute;
    bottom: 10px;
    right: 25px;
}

.scrollWrapper {
    overflow-y: scroll;
}

.statsContainer {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-block-end: 30px;
}

.metadataContainer {
    display: flex;
    justify-content: space-between;

    padding-block-start: 15px;
    padding-block-end: 15px;

    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.routeStats {
    padding-block-start: 5px;
    padding-block-end: 5px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.routeStats li {
    list-style: none;
    margin: 5px 0;
}

.myResults {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 15px;
    padding-inline: 10px;
}

.myResults h2 {
    margin: 0;
}

.myResults p {
    margin-block-start: 5px;
    margin-block-end: 0px;
}

.myResults button {
    font-size: 20px;
    line-height: 24px;
}

.myResults button svg {
    height: 26px;
    width: 26px;
}

.myResults svg {
    height: 20px;
    width: 20px;
}

.generalClassification {
    padding-block: 15px;
    padding-inline: 10px;
}

.generalClassification h2 {
    margin: 0;
}

.segmentedControl {
    margin-block: 15px;
    margin-inline: 30px;
}

.generalClassification table {
    width: 100%;

    margin-block-end: 20px;
}

.generalClassificationChevron {
    position: absolute;

    top: 6px;
    right: 0;

    height: 18px;
    width: 18px;

    fill: rgba(0, 0, 0, 0.85);
}

@supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
    .sheet {
        backdrop-filter: saturate(280%) blur(40px);
        -webkit-backdrop-filter: saturate(280%) blur(40px);
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@media (prefers-color-scheme: dark) {
    .resultsView {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .myResults svg {
        fill: rgba(255, 255, 255, 0.5);
    }
}
