.segmentItem {
    position: relative;

    margin: 0px 20px;
    padding: 15px 0;

    border-bottom: 1px solid rgba(160, 92, 92, 0.15);
}
.segmentItem:last-child {
    border-bottom: none;
}

.index {
    position: absolute;
    top: 20px;
    left: 0px;

    text-align: center;

    opacity: 0.75;

    margin: 0;
}

.segmentName {
    margin: 0;
    padding: 0 30px;
}

.description {
    display: flex;
    gap: 10px;

    margin: 0;
    padding-left: 30px;

    opacity: 0.5;
}

.forwardChevron {
    position: absolute;

    top: 20px;
    right: 0;

    height: 14px;
    width: 14px;

    fill: rgba(0, 0, 0, 0.85);
}

@media (prefers-color-scheme: dark) {
    .forwardChevron {
        fill: rgba(255, 255, 255, 0.85);
    }
}
