.unitSwitcher {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    padding: 5px;

    font-size: 22px;
    font-weight: 600;

    color: rgba(51, 51, 51, 0.85);

    cursor: pointer;
}

.unitSwitcher:hover {
    color: rgba(51, 51, 51, 1);
}

@media (prefers-color-scheme: dark) {
    .unitSwitcher {
        color: rgba(255, 255, 255, 0.85);
    }
    .unitSwitcher:hover {
        color: rgba(255, 255, 255, 1);
    }
}
