.streetView {
    height: 100%;
    width: 100%;

    position: relative;

    background: rgba(0, 0, 0, 1);

    margin: 0;
}

.streetViewClose {
    height: 26px;
    width: 26px;

    border-radius: 50%;

    fill: rgba(255, 255, 255, 1);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.streetViewTarget {
    height: 100%;
    width: 100%;
    z-index: 50;
}

.controlsContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 100;

    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.controlsContainer span {
    font-size: 24px;
    font-weight: 600;

    color: rgba(255, 255, 255, 1);

    margin: 0;
    padding: 0;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.streetView h3 {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;

    z-index: 100;

    font-size: 24px;
    font-weight: 600;
    text-align: center;

    color: rgba(255, 255, 255, 1);

    margin: 0;
    padding: 0;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
